In [17]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [18]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [19]:
#access "Mike"

dict1['april_batch']['student']['name']

'Mike'

In [20]:
#access 80

dict1['april_batch']['student']['marks']['python']

80

In [21]:
#change "Mike" to "Your name"

dict1['april_batch']['student']['name'] = "Prasad"
dict1

{'april_batch': {'student': {'name': 'Prasad',
   'marks': {'python': 80, 'maths': 70}}}}

In [25]:
#add ML = 80 and DL = 80 inside marks

dict1['april_batch']['student']['marks']
dict1['april_batch']['student']['marks']['ML'] = 80
dict1['april_batch']['student']['marks']['DL'] = 80

In [27]:
dict1

{'april_batch': {'student': {'name': 'Prasad',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [29]:
## Tuples

In [48]:
tup1 = (1,2,3,4,5)
tup1

(1, 2, 3, 4, 5)

In [49]:
#Add 6 & 7 
#convert tuple into list
list1 = list(tup1)
print(list1)

list2 = [6,7]
list1.extend(list2)
print(list1)

#convert list into tuple
tup1 = tuple(list1)
print(tup1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
(1, 2, 3, 4, 5, 6, 7)

In [53]:
#remove 5
#convert tuple into list
list1 = list(tup1)
print(list1)

#removes the specified 
list1.remove(5)
print(list1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 6, 7]