In [3]:
# for loop
#print 1 to 10

for i in range(1,11):    #range 1 is start and stop is 10
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
# for loop
#print 10 to 1

for j in range(10,0,-1):    #range 10 is start and stop is 1
    print(j)

10
9
8
7
6
5
4
3
2
1

In [13]:
# while loop
#print 1 to 10

i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [19]:
# while loop
#print 10 to 1

i = 10
while(10>=i):
    print(i)
    if(i==1):
        break
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [35]:
#to fetch string value

string = "Hello World"
for char in string:
    print(char,end=' ')

H e l l o   W o r l d

In [36]:
#to fetch string value in "reverase order"

string = "Hello World"
for char in string[::-1]:
    print(char,end=' ')

d l r o W   o l l e H

In [48]:
# to get value from list one by one

list1 = [1,2,3.3,4.4,'a','b',True,False]
for list2 in list1:
    print(list2,end=' ')

1 2 3.3 4.4 a b True False

In [43]:
# to get value from tuples one by one

tup1 = (1,2,3.3,4.4,'a','b',True,False)
for tup2 in tup1:
    print(tup2,end=' ')

1 2 3.3 4.4 a b True False

In [45]:
# to get value from set one by one

set1 = {1,2,3.3,4.4,'a','b',True,False}
for set2 in set1:
    print(set2,end=' ')

False 1 2 3.3 4.4 b a

In [56]:
# to get value from Dictionary one by one

dict1 = {'a':1,'b':2,'c':3}
for dict2 in dict1:
    print(dict2,end=' ')
    
print()
# print values
for dict2 in dict1.values():
    print(dict2,end=' ')
    
print()
#keys and values both
for dict2 in dict1.items():
    print(dict2,end=' ')

a b c
1 2 3
('a', 1) ('b', 2) ('c', 3)